@model CrudRazorCore.Models.Carrera

<h1>Detalles de Carrera</h1>

<dl class="row">
    <dt class="col-sm-2">Clave</dt>
    <dd class="col-sm-10">@Model.Clave_Carrera</dd>

    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Nombre_Carrera</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Clave_Carrera" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
